body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDCEB9;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container {
    margin: 15px;
    width: 600px;
    height: 600px;
    background-color: white;
}

.row {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}
